/* The top level container of the component*/
.wrapper {
  display: flex;
  flex-direction: column;
  width: 526px;
  gap: 56px;
  flex-shrink: 0;
}

@media (max-width: 600px) {
  .wrapper {
    width: 310px;
    gap: 32px;
  }
}
